:root{
    --color-primary: #2E2F42;
    --color-secondary: #434455;
    --color-accent: #4D5AE5;
    --color-hover: #404BBF;
    --color-hero-section: #FFF;
    --color-footer: #F4F4FD;
    --color-border-header: #E7E9FC;
}

/* Global style */
body{
    font-family: 'Roboto', sans-serif;
    color: var(--color-secondary);
    background-color: var(--color-hero-section);
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.section{
    padding: 120px 0;
}

.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 32px;
}

.vissually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */
.section-header{
    padding: 24px 0;
    border-bottom: 1px solid var(--color-border-header);
}

.header-inner {
display: flex;
justify-content: space-between;
align-items: center;
gap: 40px;
}

.header-nav {
display: flex;
align-items: center;
gap: 40px;
flex-grow: 1;
}

.logo {
    color: var(--color-accent);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.logo-accent {
    color: var(--color-primary);
    display: flex;
}

.nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}
.nav-link {
    color: var(--color-primary);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--color-hover);
}

.address-info {
    display: flex;
    gap: 40px;
    align-items: center;
}

.address-link{
    color: var(--color-secondary);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}
.address-link:hover, 
.address-link:focus{
    color: var(--color-hover);
}

/* hero section */
.hero-section {
}

.hero-inner {
background-color: var(--color-primary);
padding: 188px 0 188px;
}

.hero-title {
    color: var(--color-hero-section);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 48px;
    max-width: 496px;
    margin: 0 auto;
}

.hero-button {
    background-color: var(--color-accent);
    color: var(--color-hero-section);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    display: block;
    padding: 16px 32px;
    margin: 0 auto;
}
.hero-button:hover,
.hero-button:focus{
    background-color: var(--color-hover);
}

/* Advantages section */
.section-advantages{
    background-color: var(--color-hero-section);
}
.advantages-title{
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.advantages-text{ 
    color: var(--color-secondary);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Team section */
.team-section{
    background-color: var(--color-footer);
}
.our-team-title{
    color: var(--color-primary);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.team-list{
    background-color: var(--color-hero-section)
}
.team-title{
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.team-text{
    color: var(--color-secondary);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Portfolio section */
.our-portfolio-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.portfolio-title{
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-text{
    color:var(--color-secondary);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* footer */
.footer{
    background-color: var(--color-primary);  
}
.section-footer{
    padding: 100px 0;
}
.logo-footer{
    color: var(--color-footer);
}
.footer-text{
    color:var(--color-footer);
    line-height: 1.5;
    letter-spacing: 0.02em;
}